@using ClientWebAPI.Models;
@model IEnumerable<DonDatHangModel>
@{
    ViewBag.Title = "BaoCaoDonHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int stt = 0;

    int SoLuong = 0;
    int TongTien = 0;
    if (Model != null && Model.Count() > 0)
    {
        SoLuong = Model.Count();
        TongTien = Model.Sum(x => x.tongTien);
    }
    //Xu ly dieu kien tim kiem

    List<string> lstUserControl = (List<string>)Session["CONTROL_USER"];

}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Báo cáo đơn hàng</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Điền đầy đủ các trường thông tin có gắn dấu (*)
            </div>
            <div class="panel-body">
                <div class="row">
                    <form method="post" action="BaoCaoDonHang">
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <div class="form-group" id="data_1">
                                    <label class="font-normal">Từ ngày</label>
                                    <div class="input-group date" data-date-format="dd-mm-yyyy">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="text" class="form-control" name="sTuNgay" value="@ViewBag.tuNgay" autocomplete="off">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group" id="data_2">
                                    <label class="font-normal">Đến ngày</label>
                                    <div class="input-group date" data-date-format="dd-mm-yyyy">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="text" class="form-control" name="sDenNgay" value="@ViewBag.denNgay" autocomplete="off">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Tình trạng đơn (*)</label>
                                    <input id="ttdTemp" value="@ViewBag.tinhTrangDon" hidden />
                                    <select class="chosen-select" name="tinhTrangDon" id="tinhTrangDon">
                                        <option value="0">Đơn hàng mới</option>
                                        <option value="1">Đơn hàng đã xuất</option>
                                        <option value="-1">Đơn hàng đã hủy</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 text-center">
                            <button type="submit" class="btn btn-primary">Báo Cáo</button>
                        </div>
                    </form>
                    <div class="col-md-12" style="padding-top:20px">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th style="width:50%;" class="text-center">Tổng số đơn</th>
                                        <th style="width:50%;" class="text-center">Tổng tiền hàng</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="odd gradeX">
                                        <td class="text-center">@SoLuong</td>
                                        <td class="text-center">@TongTien.ToString("N0")</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading" style="display: list-item;font-weight: 700; height: 55px;">
                                <div style="float:left">Quản lý đơn hàng</div>
                                @*<div style="float:right"><button class="btn btn-primary" id="openModal">Thêm Mới</button></div>*@
                            </div>
                            <div class="form-group">
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, null, new { @class = "alert alert-danger" })
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                        <thead>
                                            <tr>
                                                <th style="width:10%;">STT</th>
                                                <th style="width:20%;">Ngày Đặt</th>
                                                <th style="width:20%;">Ngày Xuất</th>
                                                <th style="width:20%;">Trạng Thái</th>
                                                <th style="width:10%;">Tổng Tiền</th>
                                                <th style="width:20%">Chức năng</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model != null)
                                            {
                                                foreach (var ddh in Model)
                                                {
                                                    stt++;
                                                    <tr class="odd gradeX">
                                                        <td>@stt</td>
                                                        <td>@ddh.ngayDat.Date.ToString("dd-MM-yyyy")</td>
                                                        <td>
                                                            @if (ddh.ngayXuat.Year != 0001)
                                                            {
                                                                @ddh.ngayXuat.ToString("dd-MM-yyyy")
                                                            }
                                                        </td>
                                                        <td>
                                                            @if (ddh.tinhTrangDon == 0)
                                                            {
                                                                string status = "Chờ nhận hàng";
                                                                @status;
                                                            }
                                                            @if (ddh.tinhTrangDon == 1)
                                                            {
                                                                string status = "Đã nhận hàng";
                                                                @status;
                                                            }
                                                            @if (ddh.tinhTrangDon == -1)
                                                            {
                                                                string status = "Đã bị hủy";
                                                                @status;
                                                            }
                                                        </td>
                                                        <td class="center">@ddh.tongTien.ToString("N0") đ</td>
                                                        <td>
                                                            @if (ddh.tinhTrangDon == 0)
                                                            {
                                                                if (lstUserControl.SingleOrDefault(x => x == "XacNhanDon") != null)
                                                                {
                                                                    <a href="#" onclick="XacNhanDonHang(@ddh.id)">Xác Nhận <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                                                }
                                                            }
                                                            |
                                                            @if (lstUserControl.SingleOrDefault(x => x == "ChiTietDon") != null)
                                                            {
                                                                <a onclick="ChiTietDonHang(@ddh.id, @ddh.idKH)">Chi Tiết <i class="fa fa-bolt" aria-hidden="true"></i></a>
                                                            }
                                                            |
                                                            @if (ddh.tinhTrangDon == 0)
                                                            {
                                                                if (lstUserControl.SingleOrDefault(x => x == "HuyDon") != null)
                                                                {
                                                                    <a href="#" onclick="HuyDonHang(@ddh.id)">Hủy Đơn <i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                                                }
                                                            }
                                                        </td>
                                                    </tr>
                                                }
                                            }

                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.table-responsive -->

                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                    </div>
                </div>

                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div class="modal fade" id="ctdh-modal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="title-modal-role-control">Danh sách sản phẩm của đơn hàng</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Chi Tiết Đơn Hàng
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <div id="thong-tin-kh">

                                </div>
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover" id="table-ctdh">
                                        <thead>
                                            <tr>
                                                <th style="width:10%;">STT</th>
                                                <th style="width:20%;">Tên Sản Phẩm</th>
                                                <th style="width:10%;">Giá</th>
                                                <th style="width:20%;">Ảnh</th>
                                                <th style="width:10%;">Số Lượng</th>
                                                <th style="width:20%;">Thành Tiền</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                    </div>
                    <!-- /.col-lg-12 -->
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    function XacNhanDonHang(idDH) {
        if (confirm('Xác nhận đơn hàng và tiến hành chuyển hàng?')) {
            document.location = '/DonDatHang/XacNhanDonHang?idDDh='+idDH;
        }
    }

    function HuyDonHang(idDH) {
        if (confirm('Xác nhận hủy đơn hàng này?')) {
            document.location = '/DonDatHang/XacNhanDonHang?idDDh='+idDH;
        }
    }

    $(document).ready(function () {
        var ddhTemp = $('#ttdTemp').val();
        if (ddhTemp != null && ddhTemp != ' ') {
            //$("#tinhTrangDon").val("-1");
            $("#tinhTrangDon option[value=-1]").attr('selected', 'selected');
        }

        $('#data_1 .input-group.date').datepicker({
            todayBtn: "linked",
            keyboardNavigation: false,
            forceParse: false,
            calendarWeeks: true,
            autoclose: true
        });

        $('#data_2 .input-group.date').datepicker({
            todayBtn: "linked",
            keyboardNavigation: false,
            forceParse: false,
            calendarWeeks: true,
            autoclose: true
        });

    })

    function ChiTietDonHang(idDH, idKH) {
        $.ajax({
            url: "/KhachHang/GetKhachHangById/",
            type: "POST",
            data: { idKH: idKH },
            success: function (res) {
                var html = '<div style="padding: 5px;">'
                html += 'Tên khách hàng: ' + res.Ten;
                html += '</div>';
                html += '<div style="padding: 5px;">';
                html += 'Số điện thoại: ' + res.DienThoai;
                html += '</div>';
                html += '<div style="padding: 5px;">';
                html += 'Địa chỉ: ' + res.DiaChi;
                html += '</div>';

                $('#thong-tin-kh').html(html);
            }
        });

        $.ajax({
            url: "/DonDatHang/ChiTietDonHang/",
            type: "POST",
            data: { idDDH: idDH },
            success: function (res) {
                LoadDataCTDH(res);
            }
        });
        $('#ctdh-modal').modal("show");
    }

    function LoadDataCTDH(res) {
        var htmlTable = "";
        var i = 0;
        $.each(res, function (key, item) {
            i++;
            htmlTable += '<tr class="odd gradeX">';
            htmlTable += '<td>' + i + '</td>';
            htmlTable += '<td>' + item.Name + '</td>';
            htmlTable += '<td>' + item.Price + '</td>';
            htmlTable += '<td><img class="img-responsive" src="../Areas/ShoppingPage/Content/Uploads/ImgProduct/' + item.Image + '" /></td>';
            htmlTable += '<td>' + item.SoLuong + '</td>';
            htmlTable += '<td>' + item.ThanhTien + '</td>';
            htmlTable += '</tr>';
        });
        $('#table-ctdh tbody').html(htmlTable);
    }


</script>