@using ClientWebAPI.Models;
@model IEnumerable<RoleModel>

@{
    ViewBag.Title = "GetAllRole";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<PermissionModel> lstPer = (List<PermissionModel>)ViewBag.LIST_ALL_PER;
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Quản lý Nhóm quyền và quyền</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading" style="display: list-item;font-weight: 700; height: 55px;">
                <div style="float:left">Danh sách nhóm quyền</div>
                <div style="float:right"><a class="btn btn-primary" href="/Role/AddRole">Thêm Mới</a></div>
            </div>
            <div class="form-group">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, null, new { @class = "alert alert-danger" })
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th style="width:10%;">Id</th>
                                <th style="width:40%; ">Tên Nhóm Quyền</th>
                                <th style="width:30%; ">Mã Nhóm Quyền</th>
                                <th style="width:10%; ">Sửa - Xóa</th>
                                <th style="text-align:center;width:10%;">Role - Control</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Count() > 0)
                            {
                                foreach (var role in Model)
                                {
                                    <tr class="odd gradeX">
                                        <td>@role.id</td>
                                        <td>@role.name</td>
                                        <td>@role.code</td>
                                        <td>
                                            <a href="/Role/UpdateRole?roleId=@role.id"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a> &nbsp;&nbsp;
                                            <a onclick="confirm('Bạn có muốn xóa nhóm quyền này không?')" href="/Role/DeleteRole?roleId=@role.id"><i class="fa fa-trash-o" aria-hidden="true"></i></a> &nbsp;&nbsp;

                                        </td>
                                        <td style="text-align:center">
                                            <a onclick="GetPermissionOfRole(@role.id, '@role.name')"><i class="fa fa-shield" aria-hidden="true"></i></a>&nbsp;&nbsp;
                                            <a onclick="GetControlForRole(@role.id, '@role.name')"><i class="fa fa-cogs" aria-hidden="true"></i></a>
                                        </td>
                                    </tr>
                                }
                            }

                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
                @*<div class="well text-center">
                        <a class="btn btn-danger" href="/Account/Index">Trở về</a>
                        <button id="btn-save" class="btn btn-primary">Ghi lại</button>
                    </div>*@
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading" style="display: list-item;font-weight: 700; height: 55px;">
                <div style="float:left">Danh sách quyền</div>
                <div style="float:right"><a class="btn btn-primary" href="/Permission/ThemMoiQuyen">Thêm Mới</a></div>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example1">
                        <thead>
                            <tr>
                                <th style="width:10%;">id</th>
                                <th style="width:40%;">Tên quyền</th>
                                <th style="width:30%;">Mã quyền</th>
                                <th style="width:10%;">Chức Năng</th>
                                <th style="text-align:center;width:10%;">Control Per</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (lstPer != null && lstPer.Count() > 0)
                            {
                                foreach (var per in lstPer)
                                {
                                    <tr class="odd gradeX">
                                        <td>@per.id</td>
                                        <td>@per.name</td>
                                        <td>@per.code</td>
                                        <td>
                                            <a><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a> &nbsp;&nbsp;
                                            <a onclick=""><i class="fa fa-trash-o" aria-hidden="true"></i></a> &nbsp;&nbsp;
                                        </td>
                                        <td style="text-align:center">
                                            <a onclick=" LoadControlForPer(@per.id)"><i class="fa fa-cogs" aria-hidden="true"></i></a>
                                        </td>
                                    </tr>
                                }
                            }

                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
                @*<div class="well text-center">
                        <a class="btn btn-danger" href="/Account/Index">Trở về</a>
                        <button id="btn-save" class="btn btn-primary">Ghi lại</button>
                    </div>*@
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
</div>

<!-- Modal hiện thị màn hình quản lý quyền cho Nhóm quyền -->
<div class="modal fade" id="per-of-role-modal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="title-modal-per">Danh sách quyền của nhóm quyền</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12" style="margin-bottom:10px">
                        <label>Các quyền có thể gán </label>
                        <input id="cur-role-id" hidden />
                        <input id="cur-role-name" hidden />
                        <div class="col-lg-10" style="padding-left: 0px">
                            <select class="form-control" id="cbo-per">
                                <option value="0">Chọn quyền</option>

                            </select>
                        </div>
                        <div class="col-lg-2" style="padding-left:0px; text-align:center">
                            <button class="btn btn-primary" id="btn-add-per">Gán quyền</button>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Quyền của nhóm quyền
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover" id="table-permisson">
                                        <thead>
                                            <tr>
                                                <th style="width:10%;">STT</th>
                                                <th style="width:30%;">Tên quyền</th>
                                                <th style="width:30%;">Mã quyền</th>
                                                <th style="width:15%;">Xóa quyền</th>
                                                <th style="text-align:center;width:15%;">Control Per</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.table-responsive -->
                                @*<div class="well">

                                    </div>*@
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                    </div>
                    <!-- /.col-lg-12 -->
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--Màn hình hiển thị các Control của quyền-->
<div id="control-of-per-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="title-modal-contrl">Danh sách Control của quyền</h4>
            </div>
            <div class="modal-body">
                <div class="row">

                    <input id="cur-control-id" hidden />
                    <input id="cur-control-name" hidden />

                    <div class="col-lg-12" style="margin-bottom:10px">
                        <div class="col-lg-3">Mã Control</div>
                        <div class="col-lg-9" style="padding-left: 0px">
                            <input class="form-control" id="txtCodeControl" />
                        </div>
                    </div>
                    <div class="col-lg-12" style="margin-bottom:10px">
                        <div class="col-lg-3">Tên Control</div>
                        <div class="col-lg-9" style="padding-left: 0px">
                            <input class="form-control" id="txtNameControl" />
                        </div>
                    </div>

                    <div class="col-lg-12" style="margin-bottom:10px; text-align:center">
                        <button class="btn btn-primary" id="btn-add-control">Thêm Control</button>
                    </div>

                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Control của quyền
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover" id="table-control">
                                        <thead>
                                            <tr>
                                                <th style="width:10%;">STT</th>
                                                <th style="width:40%;">Tên Control</th>
                                                <th style="width:30%;">Mã Control</th>
                                                <th style="width:20%;">Xóa</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@*Modal hiển thị danh sách Control của quyền*@
<div class="modal fade" id="control-of-role-modal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="title-modal-role-control">Danh sách Control của Quyền</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12" style="margin-bottom:10px">
                        <label>Các Control có thể gán </label>
                        <input id="cur-control-role-id" hidden />
                        <input id="cur-control-role-name" hidden />
                        <div class="col-lg-10" style="padding-left: 0px">
                            <select class="form-control" id="cbo-role-control">
                                <option value="0">Chọn control</option>
                            </select>
                        </div>
                        <div class="col-lg-2" style="padding-left:0px; text-align:center">
                            <button class="btn btn-primary" id="btn-add-role-control">Gán Control</button>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Quyền của nhóm quyền
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover" id="table-role-control">
                                        <thead>
                                            <tr>
                                                <th style="width:10%;">STT</th>
                                                <th style="width:40%;">Tên Control</th>
                                                <th style="width:30%;">Mã Control</th>
                                                <th style="width:20%;">Xóa</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                    </div>
                    <!-- /.col-lg-12 -->
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<script>
    //Thao tác với Role-Control start
    //Load conbobox các Control có thể gán cho quyền
    function LoadDataForComboRoleControl(roleId) {
        //sua
        $.ajax({
            url: "/Control/LoadDataForComboControlRole",
            type: "POST",
            data: { roleId: roleId },
            success: function (res) {
                var htmlOption = '<option value="0"><h3>Chọn Control</h3></option>';
                $.each(res, function (key, item) {
                    htmlOption = htmlOption + '<option value="' + item.id + '">' + item.name + '</option>';
                    $("#cbo-role-control").html(htmlOption);
                });
            }
        });
    }

    //load data Control của Role
    function LoadDataControlRoleOnTable(res) {
        var htmlTable = "";
        var i = 0;
        $.each(res, function (key, item) {
            i++;
            htmlTable += '<tr class="odd gradeX">';
            htmlTable += '<td>' + i + '</td>';
            htmlTable += '<td>' + item.name + '</td>';
            htmlTable += '<td>' + item.code + '</td>';
            htmlTable += '<td style="text-align:center">';
            htmlTable += '<a onclick="DeleteControlRole(' + item.id +')"><i class="fa fa-trash-o" aria-hidden="true"></i></a> &nbsp;&nbsp;';
            htmlTable += '</td>';
            htmlTable += '</tr>';
        });
        $('#table-role-control tbody').html(htmlTable);
    }

    function GetControlForRole(roleId, roleName) {
        $('#cur-control-role-id').val(roleId);
        $('#cur-control-role-name').val(roleName);

        $('#title-modal-role-control').html("Quản lý control của Nhóm quyền: " + roleName);

        $.ajax({
            url: "/Control/GetControlRole",
            type: "POST",
            data: { roleId: roleId },
            success: function (res) {
                LoadDataControlRoleOnTable(res);
            }
        });

        LoadDataForComboRoleControl(roleId);
        $("#control-of-role-modal").modal("show");
    }

    //Xóa COntrol khỏi Nhóm quyền 
    function DeleteControlRole(conId) {
        var roleId = $('#cur-control-role-id').val();
        var roleName = $('#cur-control-role-name').val();
        
        if (confirm("Bạn có muốn xóa bỏ Control này khỏi nhóm quyền "+roleName+" không?")) {
            var obj = {
                roleId: roleId,
                controlId: conId          
            }

            $.ajax({
                url: "/Control/DeleteControlForRole",
                type: "POST",
                data: obj,
                success: function (res) {
                    LoadDataControlRoleOnTable(res);
                    toastr.success('Xóa control thành công', 'Thành công', { timeOut: 2000, closeButton: true, progressBar: true, showMethod: 'fadeIn', hideMethod: 'hide' });
                }
            });
            LoadDataForComboRoleControl(roleId);
        }
    }

    //Thao tác với Role-Control end


    //Thao tác với Control-Permission start
    //load data Control của Permission
    function LoadDataControlOnTable(res) {
        var htmlTable = "";
        var i = 0;
        $.each(res, function (key, item) {
            i++;
            htmlTable += '<tr class="odd gradeX">';
            htmlTable += '<td>' + i + '</td>';
            htmlTable += '<td>' + item.name + '</td>';
            htmlTable += '<td>' + item.code + '</td>';
            htmlTable += '<td style="text-align:center">';
            htmlTable += '<a onclick="DeleteControlPer(' + item.id + ',' + item.permissionId + ')"><i class="fa fa-trash-o" aria-hidden="true"></i></a> &nbsp;&nbsp;';
            htmlTable += '</td>';
            htmlTable += '</tr>';
        });
        $('#table-control tbody').html(htmlTable);
    }

    //Xóa COntrol khỏi quền
    function DeleteControlPer(conId, perId) {
        if (confirm("Bạn có muốn xóa bỏ Control này không?")) {
            var obj = {
                id: conId,
                permissionId: perId
            }

            $.ajax({
                url: "/Control/DeleteControlForPer",
                type: "POST",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(obj),
                success: function (res) {
                    LoadDataControlOnTable(res);
                    toastr.success('Xóa control thành công', 'Thành công', { timeOut: 2000, closeButton: true, progressBar: true, showMethod: 'fadeIn', hideMethod: 'hide' })
                }
            });
        }
    }

    //load các control của quyền
    function LoadControlForPer(perId) {
        $("#cur-control-id").val(perId);
        var controlName = $("#control-name-" + perId).html();
        $('#title-modal-contrl').html('Danh sách control của quyền ' + controlName);
        $.ajax({
            url: "/Control/GetControlPer",
            type: "POST",
            data: { perId: perId },
            success: function (res) {
                LoadDataControlOnTable(res);
            }
        });

        //LoadDataForComboControl(perId);
        $('#txtCodeControl').val('');
        $('#txtNameControl').val('');
        $("#control-of-per-modal").modal("show");
        $("#per-of-role-modal").modal("hide");
    }
    //Thao tác với Control-Permission end


    //Thao tác với Role start
    //load dữ liêu quyền lên bảng danh sách các quyền của Nhóm quyền
    function LoadDataPerOnTable(res) {
        var htmlTable = "";
        var i = 0;
        $.each(res, function (key, item) {
            i++;
            htmlTable += '<tr class="odd gradeX">';
            htmlTable += '<td>' + i + '</td>';
            htmlTable += '<td id="control-name-' + item.id + '">' + item.name + '</td>';
            htmlTable += '<td>' + item.code + '</td>';
            htmlTable += '<td style="text-align:center">';
            htmlTable += '<a onclick="RemovePerOfRole(' + item.id + ')"><i class="fa fa-trash-o" aria-hidden="true"></i></a> &nbsp;&nbsp;';
            htmlTable += '</td>';
            htmlTable += '<td style="text-align:center">';
            htmlTable += '<a onclick="LoadControlForPer(' + item.id + ')"><i class="fa fa-users" aria-hidden="true"></i></a>';
            htmlTable += '</td>';
            htmlTable += '</tr>';
        });
        $('#table-permisson tbody').html(htmlTable);
    }

    //load danh sách các quyền của nhóm quyền
    function GetPermissionOfRole(roleId, roleName) {
        $("#title-modal-per").html("Quản lý quyền của nhóm quyền " + roleName);
        $('#cur-role-id').val(roleId);
        $("#cur-role-name").val(roleName);

        LoadDataForComboPer(roleId);
        $.ajax({
            url: "/Permission/GetPerOfRole",
            type: "POST",
            data: { roleId: roleId },
            success: function (res) {
                LoadDataPerOnTable(res);
            }
        });
        $("#per-of-role-modal").modal("show");
    }

    //Load combobox các quyền có thể gán cho nhóm quyền
    function LoadDataForComboPer(roleId) {
        $.ajax({
            url: "/Permission/GetPerNotOfRole",
            type: "POST",
            data: { roleId: roleId },
            success: function (res) {
                var htmlOption = '<option value="0"><h3>Chọn quyền</h3></option>';
                $.each(res, function (key, item) {
                    htmlOption = htmlOption + '<option value="' + item.id + '">' + item.name + '</option>';
                    $("#cbo-per").html(htmlOption);
                });
            }
        });
    };

    //Loại bỏ quyền khỏi nhóm quyền
    function RemovePerOfRole(perId, ) {
        var roleId = $('#cur-role-id').val();
        var roleName = $("#cur-role-name").val();
        if (confirm("Bạn có muốn loại bỏ quyền này khỏi nhóm quyền " + roleName + " không?")) {
            $.ajax({
                url: "/Permission/RemovePermissionForRole",
                type: "POST",
                data: { roleId: roleId, perId: perId },
                success: function (res) {
                    LoadDataPerOnTable(res);
                    LoadDataForComboPer(roleId);
                    toastr.success('Loại bỏ Quyền khỏi Nhóm quyền thành công', 'Thành công', { timeOut: 2000, closeButton: true, progressBar: true, showMethod: 'fadeIn', hideMethod: 'hide' })
                }
            });
        }
    }
    //Thao tác với Role end

    $(document).ready(function () {
        //gán quyền cho nhóm quyền
        $("#btn-add-per").click(function () {
            var roleId = $('#cur-role-id').val();
            var perId = $('#cbo-per').val();
            if (perId == 0) {
                toastr.error('Vui lòng chọn quyền cần gán cho Nhóm quyền này', 'Chưa chọn quyền', { timeOut: 3000, closeButton: true, progressBar: true, showMethod: 'fadeIn', hideMethod: 'hide' })
                return;
            }
            $.ajax({
                url: "/Permission/AssignPermissionForRole",
                type: "POST",
                data: { roleId: roleId, perId: perId },
                success: function (res) {
                    LoadDataPerOnTable(res);
                    LoadDataForComboPer(roleId);
                    toastr.success('Gán quyền thành công', 'Thành công', { timeOut: 2000, closeButton: true, progressBar: true, showMethod: 'fadeIn', hideMethod: 'hide' })
                }
            });
        });

        //Modal Control tắt thì hiện modal Per lên
        $('#control-of-per-modal').on('hide.bs.modal', function (e) {
            $("#per-of-role-modal").modal("show");
        })

        //Thêm control cho quyền
        $('#btn-add-control').click(function () {
            if ($('#txtCodeControl').val() == "") {
                alert("Nhập Mã Control");
                return;
            }
            if ($('#txtNameControl').val() == "") {
                alert("Nhập Tên Control");
                return;
            }

            var obj = {
                name: $('#txtNameControl').val(),
                code: $('#txtCodeControl').val(),
                permissionId: $('#cur-control-id').val()
            }

            $.ajax({
                url: "/Control/AddControlForPer",
                type: "POST",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(obj),
                success: function (res) {
                    LoadDataControlOnTable(res);
                    toastr.success('Gán control thành công', 'Thành công', { timeOut: 2000, closeButton: true, progressBar: true, showMethod: 'fadeIn', hideMethod: 'hide' })
                }
            });
        })

        //Thêm các Control cho Role
        $("#btn-add-role-control").click(function () {
            var roleId = $('#cur-control-role-id').val();
            var controlId = $('#cbo-role-control').val();
            if (controlId == 0) {
                toastr.error('Vui lòng chọn Control cần gán cho Nhóm quyền này', 'Chưa chọn control', { timeOut: 2000, closeButton: true, progressBar: true, showMethod: 'fadeIn', hideMethod: 'hide' })
                return;
            }

            $.ajax({
                url: "/Control/AssignControlForPer",
                type: "POST",
                data: { roleId: roleId, controlId: controlId },
                success: function (res) {
                    LoadDataControlRoleOnTable(res);
                    toastr.success('Gán control thành công', 'Thành công', { timeOut: 2000, closeButton: true, progressBar: true, showMethod: 'fadeIn', hideMethod: 'hide' })
                }
            });

            LoadDataForComboRoleControl(roleId);
        })


    })







</script>
