@using ClientWebAPI.Models
@model KhachHangModel
@{
    ViewBag.Title = "DatHang";
    Layout = "~/Areas/ShoppingPage/Views/Shared/_LayoutClient.cshtml";
    List<GioHangModel> cart = (List<GioHangModel>)Session["cart"];
}

<div class="payment-content">
    <h1 class="title"><span>Thanh toán</span></h1>
    <div class="steps clearfix">
        <ul class="clearfix">
            <li class="cart active col-md-2 col-xs-12 col-sm-4 col-md-offset-3 col-sm-offset-0 col-xs-offset-0"><span><i class="glyphicon glyphicon-shopping-cart"></i></span><span>Giỏ hàng của tôi</span><span class="step-number"><a>1</a></span></li>
            <li class="payment active col-md-2 col-xs-12 col-sm-4"><span><i class="glyphicon glyphicon-usd"></i></span><span>Thanh toán</span><span class="step-number"><a>2</a></span></li>
            <li class="finish col-md-2 col-xs-12 col-sm-4"><span><i class="glyphicon glyphicon-ok"></i></span><span>Hoàn tất</span><span class="step-number"><a>3</a></span></li>
        </ul>
    </div>
    <div class="payment-title text-center hidden">
        <h3>
            GIAO HÀNG TOÀN QUỐC - THANH TOÁN KHI NHẬN HÀNG - 15 NGÀY ĐỔI TRẢ MIỄN PHÍ
        </h3>
        <div>
            Nếu gặp khó khăn trong việc đặt hàng xin hãy gọi<b class="hotline"> (08) 66 85 85 38 </b>
            để được hỗ trợ tốt nhất.
        </div>
    </div>
    <form class="payment-block clearfix" id="checkout-container">
        <div class="col-md-4 col-sm-12 col-xs-12 payment-step step2">
            <h4>1. Địa chỉ thanh toán và giao hàng</h4>
            <div class="step-preview clearfix">
                <h2 class="title">Thông tin thanh toán</h2>
                <div class="edit-button">
                    <a href="#" id="btn-edit-kh" onclick="ChuanBiSuaKhachHang()"><i class="fa fa-pencil-square-o" style="color:blue"></i> Sửa thông tin</a>
                </div>
                <div class="info-user">
                    <label>Người nhận:<span>@Model.Ten</span></label>
                    <label>Điện thoại:<span>@Model.DienThoai</span></label>
                    <label>Email:<span></span>@Model.Email</label>
                    <label>Địa chỉ:<span></span>@Model.DiaChi</label>
                    <label>Quận/Huyện:<span>Bắc Từ Liêm</span></label>
                    <label>Thành Phố:<span>Hà Nội</span></label>

                </div>


            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12 payment-step step3">
            <h4>2. Thanh toán và vận chuyển</h4>
            <div class="step-preview clearfix">
                <h2 class="title">Thanh Toán</h2>
                <div class="form-group ">
                    <select class="form-control">
                        <option>Thanh toán khi nhận hàng COD</option>
                        <option>Chuyển khoản</option>
                        <option>Ví điện tử</option>
                    </select>
                </div>
                <h2 class="title">Đơn vị vận chuyển</h2>
                <div class="form-group ">
                    <select class="form-control">
                        <option>Giao hàng nhanh</option>
                        <option>Giao hàng 24h</option>
                        <option>Nhanh như chớp</option>
                    </select>
                </div>

            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12 payment-step step1">
            <h4>3. Thông tin đơn hàng</h4>
            <div class="step-preview">
                <div class="cart-info">
                    <div class="cart-items">
                        @foreach (var item in cart)
                        {
                            <div class="cart-item clearfix">
                                <span class="image pull-left" style="margin-right:10px;">
                                    <a href="/ShoppingPage/Product/ProductDetail?id=@item.SanPham.id">
                                        <img src="~/Areas/ShoppingPage/Content/Uploads/ImgProduct/@item.SanPham.Image" class="img-responsive" />
                                    </a>
                                </span>
                                <div class="product-info pull-left">
                                    <span class="product-name">
                                        <a href="/ShoppingPage/Product/ProductDetail?id=@item.SanPham.id">@item.SanPham.Name</a> | <span>@item.SoLuong x @item.SanPham.Price.ToString("N0")</span>
                                    </span>
                                </div>
                                <span class="price">@item.TongTien.ToString("N0") ₫</span>
                            </div>
                        }
                    </div>
                    <div class="total-price">
                        Thành tiền  <label> @cart.Sum(x => x.TongTien).ToString("N0") ₫</label>
                    </div>
                    <div class="shiping-price">
                        Phí vận chuyển  <label>0 ₫</label>
                    </div>
                    <div class="btn-coupon hidden">
                        <a href="#" class="btn btn-primary"><span></span>Sử dụng mã giảm giá </a>
                    </div>
                    <div class="use-coupon hidden">
                        <div class="form-group">
                            <input placeholder="Nhập mã giảm giá" class="coupon-code form-control" />
                            <a class="btn btn-primary">Sử dụng</a>
                        </div>
                    </div>
                    <div class="total-payment">
                        Thanh toán <span> @cart.Sum(x => x.TongTien).ToString("N0") ₫</span>
                    </div>
                    <div class="button-submit">
                        <a class="btn btn-default" href="/ShoppingPage/GioHang/XacNhanDatHang">Đặt hàng</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal fade" id="sua-kh-modal" role="dialog" style="z-index:10000">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="title-modal-role-control">Thông tin nhận hàng</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Điền đầy đủ các trường thông tin có gắn dấu (*)
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <form>
                                            <input id="id" hidden />
                                            <div class="form-group">
                                                <label>Tên Khách Hàng (*)</label>
                                                <input class="form-control" id="ten" placeholder="tên">
                                            </div>
                                            <input id="matkhau" placeholder="mật khẩu" hidden/>
                                            <div class="form-group">
                                                <label>Điện Thoại (*)</label>
                                                <input class="form-control" id="dienthoai" placeholder="điện thoại">
                                            </div>
                                            <div class="form-group">
                                                <label>Email</label>
                                                <input class="form-control" type="email" id="email" placeholder="email">
                                            </div>
                                            <div class="form-group">
                                                <label>Địa Chỉ (*)</label>
                                                <input class="form-control" id="diachi" placeholder="địa chỉ">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <!-- /.row (nested) -->
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success" id="btnSua" onclick="SuaKhachHang()">Sửa</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Hủy bỏ</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

    });

    function ChuanBiSuaKhachHang() {
        $.ajax({
            url: "/ShoppingPage/KhachHang/ChuanBiSuaKhachHang/",
            type: "POST",
            data: {},
            success: function (res) {
                $("#id").val(res.id);
                $("#ten").val(res.Ten);
                $("#matkhau").val(res.MatKhau);
                $("#dienthoai").val(res.DienThoai);
                $("#email").val(res.Email);
                $("#diachi").val(res.DiaChi);
            }
        });
        $("#sua-kh-modal").modal("show");
    }

    function SuaKhachHang() {
        var obj = {
            id: $("#id").val(),
            ten: $("#ten").val(),
            matKhau: $("#matkhau").val(),
            dienThoai : $("#dienthoai").val(),
            email : $("#email").val(),
            diaChi : $("#diachi").val(),
        }

        $.ajax({
            url: "/ShoppingPage/KhachHang/SuaKhachHang/",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify(obj),
            success: function (res) {
                if (res == 1) {
                    alert("Đã cập nhật thông tin!");
                    document.location = "/ShoppingPage/GioHang/DatHang";
                }
            }
        });
    }


</script>

